@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-family-main: "Source Code Pro", monospace;
  --logo-color: #666D7F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body{
  background: url("/img/global/registration-form-bg.png");
}