@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap");

:root {
  --font-family-main: "Source Code Pro", monospace;
  --font-family-second: "Open Sans", sans-serif;
  --main-bg-color: #e8ebef;
  --logo-color: #666d7f;
  --main-white-color: #ffffff;
  --input-data-check: #a52a2a;
  --border-color: #ccc;
  --button-main-color: #5c6271;
  --hover-color: #363d4e;
  --navigation-bg-color: #9da0a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  overflow: auto; /* Переконайтеся, що прокрутка дозволена */
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--main-bg-color);
}
