.modal,
#logOutModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-white-color);
  border-radius: 10px;
  padding: clamp(10px, 2vw, 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal {
  width: clamp(150px, 50vw, 300px);
  height: clamp(150px, 50vw, 300px);
}

#logOutModal {
  width: clamp(150px, 50vw, 250px);
  height: clamp(150px, 50vw, 250px);
}

.modal-content,
#logOutModal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: var(--main-white-color);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--hover-color);
  font-size: clamp(18px, 3vw, 25px);
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}

#openModal,
#userNameContainer,
#closeModal {
  position: absolute;
  cursor: pointer;
}

#openModal,
#userNameContainer {
  padding: clamp(5px, 1vw, 10px) clamp(16px, 1vw, 20px);
  background-color: var(--button-main-color);
  color: var(--main-white-color);
  border-radius: 4px;
  top: 65px;
  margin-left: clamp(5px, 10vw, 200px);
  font-family: var(--font-family-second);
  font-size: clamp(10px, 5vw, 16px);
  transition: background-color 0.3s ease;
}

#openModal:hover,
#userNameContainer:hover {
  background-color: var(--hover-color);
}

#closeModal {
  top: 105px;
  padding-right: 10px;
  display: inline-block;
  margin-left: clamp(5px, 10vw, 200px);
  align-items: center;
  border: none;
  background-color: transparent;
}

#closeModal_img {
  width: clamp(45px, 5vw, 70px);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  color: var(--hover-color);
  font-size: clamp(10px, 5vw, 16px);
  font-weight: 500;
  font-family: var(--font-family-second);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  pointer-events: none;
}

#closeModal:hover .overlay-text {
  opacity: 1;
}

#logOutModal-content p {
  margin-top: clamp(15px, 1vw, 20px);
  margin-bottom: clamp(15px, 1vw, 20px);
  color: var(--hover-color);
  font-size: clamp(13px, 3vw, 18px);
  font-family: var(--font-family-second);
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#logOutModal button {
  padding: clamp(5px, 1vw, 12px) clamp(10px, 1vw, 15px);
  color: var(--main-white-color);
  border-radius: 4px;
  font-family: var(--font-family-second);
  font-size: clamp(12px, 2vw, 15px);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#yesBtn {
  background-color: var(--button-main-color);
}
#yesBtn:hover {
  background-color: var(--hover-color);
}

#cancelBtn {
  background-color: var(--hover-color);
}

#cancelBtn:hover {
  background-color: var(--button-main-color);
}
