.composition-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--main-white-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.composition-item:hover {
  background-color: var(--white-hover-color);
}

.composition-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.music-title {
  font-size: clamp(13px, 3vw, 18px);
  font-weight: bold;
  margin: 0;
}

.music-artist {
  font-size: clamp(12px, 3vw, 15px);
  color: var(--second-text-color);
  margin: 0;
}

.play-icon {
  width: clamp(35px, 10vw, 50px);
  height: clamp(35px, 10vw, 50px);
  cursor: pointer;
  transition: transform 0.3s;
}

.play-icon:hover {
  transform: scale(1.1);
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination button {
  padding: 10px;
  margin: 0 5px;
}

#prevPage,
#nextPage {
  padding: clamp(5px, 1vw, 10px) clamp(16px, 1vw, 20px);
  font-family: var(--font-family-second);
  font-size: clamp(10px, 3vw, 16px);
  background-color: var(--button-main-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#prevPage:hover,
#nextPage:hover {
  background-color: var(--hover-color);
}
