.logo-container {
  padding-right: 10px;
  padding-top: 15px;
  display: flex;
  margin-left: clamp(5px, 10vw, 200px);
  align-items: center;
}

.header__site-logo {
  width: clamp(30px, 3vw, 40px);
}

.header__title {
  font-family: var(--font-family-main);
  font-weight: 300;
  font-size: clamp(10px, 3vw, 20px);
  color: var(--logo-color);
  text-align: center;
  margin-left: 10px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: clamp(8px, 2vw, 20px);
  box-sizing: border-box;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

input[type="text"],
input[type="password"] {
  padding: clamp(5px, 1vw, 10px);
  font-size: clamp(10px, 3vw, 16px);
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: clamp(5px, 1vw, 10px) clamp(16px, 1vw, 20px);
  font-size: clamp(10px, 3vw, 16px);
  background-color: var(--button-main-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: var(--hover-color);
}

#userNameCheck,
#loginCheck,
#passwordCheck {
  color: var(--input-data-check);
  font-size: clamp(10px, 3vw, 14px);
}
