.search-container {
  margin-top: 15px;
  margin-right: clamp(5px, 10vw, 200px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--background-color);
}

#searchInput {
  padding: 10px;
  font-size: clamp(10px, 5vw, 16px);
  width: clamp(50px, 50%, 200px);
}

#searchButton {
  padding: 10px;
  font-size: clamp(10px, 5vw, 16px);
}

#searchResults {
  font-family: var(--font-family-second);
  padding-top: 150px;
  justify-content: flex-start;
  margin-left: clamp(5px, 10vw, 200px);
}

@media (max-width: 800px) {
  #searchResults {
    margin-right: 10%;
  }
}

@media (min-width: 800px) {
  #searchResults {
    margin-right: 20%;
  }
}

@media (min-width: 1200) {
  #searchResults {
    margin-right: 30%;
  }
}
