.search-container,
#searchResults {
  margin-right: clamp(5px, 10vw, 200px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#searchInput {
  padding: 10px;
  font-size: clamp(10px, 5vw, 16px);
  width: clamp(50px, 50%, 200px);
}

#searchButton {
  padding: 10px;
  font-size: clamp(10px, 5vw, 16px);
}
